.loginWithGoogle{
  display: flex;
  flex-direction: column;
  min-width: 50%;
  gap: 40px;

  button{
    background: var(--red);
    width: 100%;
    max-width: 420px;
    gap: 10px;
  }

  span{
    max-width: 420px;
  }

  @media(max-width: 1049px){
    align-items: center;
    flex-direction: column-reverse;
    text-align: center;

    h1{
      display: none;
    }
  }

}