@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Rajdhani:wght@400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: var(--text);
  background-color: var(--background);
}

:root {
  --red: #ea360f;
  --dark-red: #d92828;
  --purple: #5965df;
  --text: #2e384c;
  --grey: #747474;
  --light-grey: #e0e0e0;
  --dark-grey: #455a64;
  --grey-blue: rgba(46, 56, 76, 0.87);
  --black: #000000;
  --white: #ffffff;
  --dark-purple: #414aa3;
  --light-blue: #9da4ee;
  --background: #f2f3f5;
  --green: #41a391;
  --neon-green: #2deecc;
  --ice: #f9f9fc;
  --input-background: #f1f2f4;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  color: var(--white);
  cursor: pointer;
}

input {
  background: var(--input-background);
  border-radius: 8px;
  padding: 20px;
  color: var(--text);
}

button,
input {
  border-radius: 8px;
  max-width: 100%;
  outline: none;
  border: 0;
  font-family: "Inter";
  font-size: 20px;
  line-height: 30px;
}

h1 {
  font-size: 36px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 30px;
  width: 100vw;
  height: 100vh;

  @media (max-width: 1049px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 320px) {
    padding: 10px 5px;
  }
}

.limiter {
  max-width: 1800px;
  margin: auto;
}

.red-button {
  background: var(--red);
  max-width: 420px;
  width: 100%;
  font-weight: 500;

  &:hover {
    background: var(--dark-red);
  }
}

.row-wrapper{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.column-wrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.error{
  font-size: 10px;
  color: var(--dark-red);
}


