.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.createRoom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 50%;
  flex: 1;

  .logo {
    width: 160px;
    margin-bottom: 20px;
  }

  button {
    width: 320px;
    max-width: 100%;
    background: var(--red);
    font-size: 15px;

    &:hover {
      background: var(--dark-red);
    }
  }

  .divider {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 10px;
    width: 320px;
    max-width: 100%;
    font-size: 14px;
    color: var(--grey);

    .line {
      border: 1px solid var(--light-grey);
      width: 75px;
      height: 1px;
    }
  }

  > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 100%;

    input {
      background: var(--background);
      border: 1px solid var(--grey);
      width: 320px;
      max-width: 100%;
      height: 50px;
      font-size: 15px;
    }

    button{
      background-color: var(--purple);

      &:hover{
        background-color: var(--dark-purple);
      }
    }
  }

  @media (max-width: 1240px) {
    width: 100%;
    padding: 10px;
  }
}
