.presentation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  min-width: 50%;
  max-width: 100%;
  flex: 1;
  gap: 30px;
  padding: 50px;
  padding-bottom: 0;
  height: 100%;

  background: url('../../public/background.svg') no-repeat 90%;
  background-size: 90%;

  h1 {
    display: none;
  }

  span {
    font-family: "Rajdhani";
    font-weight: 600;
    font-size: 45px;
    line-height: 57px;
  }

  .backgroundImage {
    position: absolute;
    width: 100%;
  }

  @media (max-width: 1049px) {
    align-items: center;
    flex: 0;
    margin-bottom: 30px;
    padding: 0;
    span {
      text-align: center;
      max-width: 420px;
      font-size: 25px;
      line-height: 32px;
    }

    h1 {
      display: inline;
    }
  }
}

.createRoom {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  max-width: 100%;
  padding: 50px;
  padding-top: 0;

  span {
    margin: 20px;
    width: 100%;
    max-width: 420px;
    text-align: center;
  }

  > form {
    display: flex;
    flex-direction: row;
    max-width: 100%;

    input {
      background: var(--white);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      max-width: 340px;
      width: 76%;
    }

    button {
      width: 80px;
      max-width: 24%;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background: var(--purple);

      &:hover {
        background: var(--dark-purple);
      }
    }
  }

  @media (max-width: 1049px) {
    gap: 30px;
    padding: 0;
    align-items: center;
    h1 {
      display: none;
    }
  }
}
